extends ../layouts/doctype.pug
block variables
	-
		var title = 'Разное'
block content
		include ../modules/header 
		main.main
				section.hero-text
						p.lorem.
							Lorem ipsum dolor 
							sit amet consectetur
							adipisicing elit. Autem
							est quos nostrum perspiciatis
							hic! Earum pariatur error similique
							consequuntur inventore.
		include ../modules/footer.pug