.hero-text {
  margin-top: 20px;
  padding: 70px;
  background-color: #efda1b;

  .hero-text__inner {
    display: flex;
    justify-content:space-between;

    .hero-text-main-heading {
      font-size: 1.8em;
      color: #b81f26;
    }

    .hero-text-main-about-me {
      color: #b81f26;
      font-size: 1em;
    }

    .hero-text-contacts-list{
      display: flex;
      flex-direction: column;
      gap:20px;

      .hero-text-contacts-item{
        display: flex;
        gap:10px;
        font-weight: bolder;
        font-size: 1.3em;
        letter-spacing: 2px;

        .hero-text-contacts-item-icon{
          width:10%;
        }
        .hero-text-contacts-item-link{
          align-self:center;
          text-decoration: none;
          color: black;
        }
        .hero-text-contacts-item-link:hover{
          color: rgb(105, 103, 103);
        }
      }
      
    }
  }
}

.our-services{
  .our-services__container{
    .our-services-heading {
      font-size: 1.2em;

      .our-services-heading-text{
        text-align: center;
      }
    }
    .our-services-all-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:20px;
    }

    .our-services-card{
      padding:40px;
      text-align: center;
      display: flex;
      align-items: center;
      gap:20px;
      width:40%;
      border: 0.3px solid rgba($color: #9c8787, $alpha: 0.2);
      border-radius: 10px;
    }

    .our-services-card-icon{
      width:20%;
    }

    .our-services-card-text{
      align-self: center;
    }
  }
  .our-services-before-text{
    margin-top: 50px;
    margin-bottom: 30px;
  }
}


.our-advantages {
  background-color: #efda1b;
  padding: 40px;
  .our-advantages__container{
    // .our-advantages-heading{}
 
    .our-advantages-text{
      display: flex;
      flex-direction: column;
      gap:20px;
      ul{
        display: flex;
        flex-direction: column;
        gap:20px;
      }
      li{
        list-style-type: disc;
        margin-left:3%;
      }

    }

  }

}

.about-us{
  margin-top: 100px;
  .about-us__container{
    .about-us-text{
      display: flex;
      flex-direction: column;
      gap:20px;

      .about-us-link{
        align-self: center;
        margin:20px 0;
      }
    }
  }
}

.about-us-text h2{
  align-self: center;
}
