block massiveText
	-
		var aboutUs = [
			"Сеть 1С:Франчайзи создана и развивается фирмой «1С» для квалифицированного выполнения работ по обслуживанию пользователей системы «1С:Предприятие» и гарантирует качество оказываемых услуг.",
			"Современная технологическая платформа «1С:Предприятие» дает широкие возможности по настройке системы на решение любых отраслевых и специализированных задач, по адаптации к специфике учета на конкретном предприятии и по интеграции системы с программными и аппаратными средствами других производителей.",
			"Фирмы-франчайзи работают под единой маркой «1С:ФРАНЧАЙЗИНГ», имеют в своем составе аттестованных фирмой «1С» специалистов, что гарантирует высокое качество выполнения типового набора услуг, начиная от простой инсталляции и настройки прикладной конфигурации до интеграции программы с другими пакетами, обучения пользователей и постановки учета на предприятии в полном объеме.",
			"Почему обслуживанием пользователей занимается не сама фирма «1С», а ее партнеры-франчайзи? Дело в том, что франчайзинг - наилучший на сегодняшний день метод обеспечить индустриальное качество услуг, позволяющий сочетать эффективность, энергию, высочайший профессионализм и подвижность сотен небольших частных предприятий с мощью признанной торговой марки, технологическими достижениями и гарантиями ведущего российского разработчика программного обеспечения. Только небольшие частные предприятия реально могут оказывать внимание конкретным нуждам конкретного клиента. При этом наличие у франчайзи за спиной самой фирмы «1С» дает клиенту уверенность, что предложенные ему решения по автоматизации будут совершенствоваться и поддерживаться на регулярной и долговременной основе.",

		]

for text in aboutUs
	p.about-us-paragraph= text