block variables
		-var title = 'Главная'
doctype html
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	link(rel="stylesheet", href="assets/css/InitCss.css")
	link(rel="stylesheet", href="assets/css/PagesStyle/IndexStyle/index.css")
	link(rel='stylesheet' href='assets/css/normalize.css')
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap' rel='stylesheet')
	title #{title}
body
	block content	